<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.innervoice.whisper">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <uses-library android:name="org.reactnative.camera" android:required="false" />
    </application>
</manifest>
